
<div class="form-group col-md-6 ">
  <label for="identityRename">Identité</label>
  {{input type = "text" class="form-control " id="identityRename" aria-describedby="editDescription" value=model.copy.identity placeholder="Rename"}}
  <small id="editDescription" class="form-text text-muted">C'est ici que vous renommer le développeur</small>
  <button class='ui  button blue'{{action "save" model}}>Modifier</button>
  {{#link-to "developers" class="ui button grey"}}
    Annuler
  {{/link-to}}
</div>

{{outlet}}
